body{
    font-family: "monospace",sans-serif;
	background: rgb(219, 235, 255); /*Backup for background images*/
	font-style: italic;

}
.lingrad{
    background-image: linear-gradient(#fff0f5,#d3d3d3);
    height: 738px;
}
h1{
   color: red;
}
/*styling my picture on main page*/
.picture1{
    float: right;
    width:120px;
    border: 1px solid red;
    margin: 20px;
}
/*to style elements on main page in a box*/
.box{
    max-width: 800px;
    padding: 50px;
    background: white;
	margin: auto;
	border: 1px solid rgb(145,0,0);
}
/*style the elements on trip page in a box*/
.box1{
    max-width: 800px;
    margin: auto;
    position: relative;
    text-align: center;
    color: black;
}

/*setup and style background image in trip page.
uncommenting background-repeat line will restrict formation of multiple images when size of the browser is changed */
.back{
    background-image: url("IMG_0743.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

